<div class="container" style="text-align: center">
   <h2>mat-icon <--> md-icon</h2>
   <h3>(48px, default MDC)</h3>
   <button mat-icon-button>
      <mat-icon>delete</mat-icon>
   </button>
   <button mat-icon-button>
      <md-icon [icon]="icons.delete"></md-icon>
   </button>

   <mat-divider></mat-divider>

   <h3>large-icon-button (40px, default MAT Angular Material <15)</h3>
   <button mat-icon-button mat-large-icon-button>
      <mat-icon>delete</mat-icon>
   </button>
   <button mat-icon-button mat-large-icon-button>
      <md-icon [icon]="icons.delete"></md-icon>
   </button>

   <h3>medium-icon-button (32px)</h3>
   <button mat-icon-button mat-medium-icon-button>
      <mat-icon>delete</mat-icon>
   </button>
   <button mat-icon-button mat-medium-icon-button>
      <md-icon [icon]="icons.delete"></md-icon>
   </button>

   <h3>small-icon-button (26px)</h3>
   <button mat-icon-button mat-small-icon-button>
      <mat-icon>delete</mat-icon>
   </button>
   <button mat-icon-button mat-small-icon-button>
      <md-icon [icon]="icons.delete"></md-icon>
   </button>

   <h3>tiny-icon-button (20px)</h3>
   <button mat-icon-button mat-tiny-icon-button>
      <mat-icon>delete</mat-icon>
   </button>
   <button mat-icon-button mat-tiny-icon-button>
      <md-icon [icon]="icons.delete"></md-icon>
   </button>
</div>

